* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    width: 70%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 30%);
}
.left-container {
    position: initial;
    background-color: #404042;
    color: #ffffff;
  
}
.right-container {
    position: initial;
    background-color: #ffffff;
    padding: 20px;
  
}
.Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}

.image{
    background-color: #ffffff;
}

.corner{
    height: 30px;
    border-radius: 0px 30px 0 0;
    background-color: #404042;
    position: relative;
    top: -30px;
}

.h2 {
    background-color: rgb(4, 96, 150);
}